@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
body { 
    background-color: #eaebf0;
    color: #090909;
    font: 400 normal 1.1em 'Josefin Slab',  sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

.bheader {
    background-color: #dea479;
    
}



.rocco {
    width: 10em;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.menugrid {
    margin-top: -4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em 1em;

}

.menugrid img{
    width: 4em;
   }
   
.submenu { 
    display: none;
}


.menu { 

    display: inline;
    
    margin-right: auto;
}


.cart { 
    display: inline;
    
    margin-left: auto;
}

.line {
    min-height: 3px;
    
}




.search-container {

    width: 11.5em;
    
    margin-left: auto;
    margin-right: auto;
    

}

.searchbar{
    border: 0;
    line-height: 1;
    padding: 0 1em;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 11.5em; 
    margin: 0.3em;
    border-radius: 2px;
    background-color: #dea479;
}

.searchbar:hover {
    background-color: #be0606;
}

.linedge {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    
    
}

.promotion {
    font-size: 1.2em;
    text-align: center;
    background-color: #f4bb90;
    padding: 1em;
}


.offer {
    font-size: 1em;
    text-align: center;
    background-color: #f4bb90;
    padding: 1em;
}
.offer img {
    max-width: 100%;
    padding: 0.5em ;
}
.offer h1 {
    color: #be0606;
}

.getpromo {
    border-radius: 0.1em;
    background-color: #be0606;
    color: white;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
 }
.shoplinkblack {
    color: #090909;
    padding: 3em 1em;
    text-align: center;
    text-decoration:underline;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
 }

.product {
    font-size: 1.1em;
    text-align: center;
    padding: 1em;
}

.product img {
    width: 100%;
}

.addtocard {
    border: 0;
    line-height: 1;
    padding: 0 1em;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 11.5em; 
    margin: 0.3em;
    border-radius: 2px;
    background-color: #be0606;
 }

 .redlabel {
     color: #be0606;
     font-size: 0.7em;
 }

 .option input {
    display: none;
  }

  .starunchecked { 
    display: inline-block;
    vertical-align: middle;
    background-color: #f4bb90;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url('//img/starunchecked.png');
    background-size: 100%;
  }

  .option input:checked + .starunchecked {
    background-image: url('/img/starchecked.png');
    background-size: 100%;
    background-position: center;
    
  }

 .heart { 
    display: inline-block;
    vertical-align: middle;
    background-color: #f4bb90;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url('/img/checkedborder.png');
    background-size: 100%;
  }

  .option input:checked + .heart {
    background-image: url('/img/checked.png');
    background-size: 100%;
    background-position: center;
  }



.bgp {
background-color: #f4bb90;
}

.footer {
   
    padding: 2em;
    color: #7c7c7c;
    text-align: center;
  } 

.footer a{

    font-size: 1.5em;
    color: #be0606;
    text-decoration: none;
  }   


.footer p{

    font-size: 1em;
}

.facebooklogo {

    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url('/img/facebook.png');
    background-size: 100%;

}

.instagramlogo {

    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url('../img/instagram.png');
    background-size: 100%;

}
 

@media screen and (min-width: 600px) {
    .bheader {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;

    } 

    }


@media screen and (min-width: 600px) {
    main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;

    

    }

   
  }